
### Configuration values for the server ###

# <-- these are comment line symbols, anything written after them will be ignored, like this line, for example.

# Don't have any special requirements? Leave everything as it was.

# The server need to be restarted for any changes to take effect

## Database filename ##
# You can have multiple databases, but only use one at a time.
# Make a copy of the database file to create a backup if needed, e.g. a backup after/before each day of a competition.

# Set to ":memory:" to get only get a temporary database in memory, it will be prepopulated with fake data to test out.

DATABASE_NAME = "database/powercomp.sqlite"
# DATABASE_NAME = ":memory:"

## Port the server will run on ##
# Note: any value other than 80 will cause the browser shortcut to not work
PORT = 80

# Global console logging filter, set from: "error", "warn", "info", "debug", "trace".
# "info" is default if not defined
LOG_LEVEL = "info"
