.PL_25 {
  min-width: 3%;
  height: 95%;
  color: black;
  background-color: red;
}

.PL_20 {
  min-width: 3%;
  height: 95%;
  color: black;
  background-color: blue;
}
.PL_15 {
  min-width: 3%;
  height: 80%;
  color: black;
  background-color: yellow;
}
.PL_10 {
  min-width: 3%;
  height: 70%;
  color: black;
  background-color: green;
}
.PL_5 {
  min-width: 3%;
  height: 60%;
  color: black;
  background-color: white;
}

.PL_2_5 {
  min-width: 3%;
  height: 50%;
  color: white;
  background-color: black;
}
.PL_1_25 {
  min-width: 2%;
  height: 35%;
  color: black;
  background-color: silver;
}
.PL_0_5 {
  min-width: 2%;
  height: 30%;
  color: black;
  background-color: silver;
}
.PL_0_25 {
  min-width: 2%;
  height: 25%;
  color: black;
  background-color: silver;
}
