<dt-action-table
  matSort
  [dataSource]="dataSource"
  [columns]="columns"
  [hideDelete]="true"
  (rowClick)="edit($event)"
>
  <ng-container dtTableHeader>
    <div style="height: 100%; width: 100%;">
      <ng-content></ng-content>
    </div>
  </ng-container>
  <ng-container dtTableContent>
    <ng-container matColumnDef="lot">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "lifter.lot" | translate | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.lot }}</td>
    </ng-container>
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "lifter.firstname" | translate | titlecase }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [class.next]="(next$ | async)?.id === element.id"
        [class.current]="(current$ | async)?.id === element.id"
      >
        {{ element.firstname }}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "lifter.lastname" | translate | titlecase }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [class.next]="(next$ | async)?.id === element.id"
        [class.current]="(current$ | async)?.id === element.id"
      >
        {{ element.lastname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="weightCategory.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "weight-category.short" | translate }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [matTooltip]="element.bodyWeight"
        matTooltipPosition="before"
      >
        <ng-container *ngIf="element.weightCategory">
          {{
            ("weight-category." + element.gender | translate) +
              element.weightCategory?.name
          }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="bornYear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "lifter.born-year" | translate | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{
          (element.bornYear || "") +
            (element.ageCategory
              ? " (" + ("age-category." + element.ageCategory | translate) + ")"
              : "")
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="equipped">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "lifter.equipped" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          [svgIcon]="
            element.equipped ? 'checkbox-marked' : 'checkbox-blank-outline'
          "
        ></mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="attempt">
      <th mat-header-cell *matHeaderCellDef>
        {{ "lift.attempt" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ "lifts." + element.attemptInfo.liftName | translate | titlecase }}
        {{ element.attemptInfo.attemptNumberOneIndexed || "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          style="float: right;"
          mat-raised-button
          color="warn"
          (click)="$event.stopPropagation(); editLifterInfo(element)"
          [matTooltip]="'secretariat.edit-lifter' | translate"
          matTooltipPosition="left"
          matTooltipClass="bg-warn"
        >
          <mat-icon svgIcon="pencil"></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="attemptInfo.weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "lift.requested-weight" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.attemptInfo.weight || "" }}
      </td>
    </ng-container>
  </ng-container>
</dt-action-table>
