// .decision-container{
//   display: grid;
//   width: 100%;
//   height: 100%;
//   grid-template-columns:repeat( auto-fit, minmax(0px, 1fr) );
//   grid-column-gap: 5%;
// }
.white {
  background-color: white;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.decision {
  border-radius: 5px;
  border: thin solid black;
}
