<dt-action-table
  (rowClick)="edit($event)"
  (delete)="delete($event)"
  [dataSource]="dataSource"
  matSort
  [columns]="columns"
>
  <ng-container dtTableHeader>
    <button mat-raised-button color="primary" (click)="create()">
      {{ "generic.button.add" | translate | titlecase }}
    </button>
  </ng-container>

  <ng-container dtTableContent>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "competition.name" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <a
          style="min-width: 50%;"
          color="primary"
          [routerLink]="[element.id, 'lifters']"
          mat-raised-button
          [matTooltip]="'compeition.manage' | translate"
        >
          <div class="flex center-y">
            <span style="float: left;">{{ element.name }}</span>

            <mat-icon
              style="flex: auto;text-align: right;"
              svgIcon="arrow-right"
            ></mat-icon>
          </div>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "competition.active" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          [svgIcon]="
            element.active ? 'checkbox-marked' : 'checkbox-blank-outline'
          "
        ></mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "competition.city" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "competition.location" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>
  </ng-container>
</dt-action-table>
