<div class="mat-elevation-z8 bar">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>{{ "secretariat.active-group" | translate }}</mat-label>
    <mat-select
      [value]="activeGroupId$ | async"
      (selectionChange)="selectGroup($event.value)"
      [disabled]="showDecisions$ | async"
    >
      <mat-option [value]="null">{{
        "option.no-group" | translate
      }}</mat-option>
      <mat-option *ngFor="let group of groups$ | async" [value]="group.id">
        {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="play()"
    [disabled]="
      (timerService.status$ | async) === 'ON' ||
      !(timerService.remainingMillis$ | async) ||
      !(activeGroupId$ | async) ||
      (showDecisions$ | async)
    "
  >
    <mat-icon svgIcon="play"></mat-icon>
  </button>
  <button
    mat-raised-button
    color="warn"
    (click)="pause()"
    [disabled]="
      (timerService.status$ | async) === 'OFF' || !(activeGroupId$ | async)
    "
  >
    <mat-icon svgIcon="pause"></mat-icon>
  </button>

  <button
    mat-raised-button
    (click)="reset()"
    [disabled]="
      (timerService.status$ | async) === 'ON' ||
      !(activeGroupId$ | async) ||
      (showDecisions$ | async)
    "
  >
    60 s
  </button>

  <div style="flex: 1; font-size: 2em">
    <pc-platform-timer format="m:ss"></pc-platform-timer>
  </div>
  <ng-container *ngIf="currentLifter$ | async as lifter">
    <ng-container *ngIf="lifter !== null">
      <div style="flex: auto; color: yellow">
        {{ lifter?.firstname }} {{ lifter?.lastname }}
      </div>
      <div style="flex: auto">
        {{ "lifts." + lifter?.attemptInfo.liftName | translate | titlecase }}
        {{ lifter?.attemptInfo.attemptNumberOneIndexed }}:
        {{ lifter?.attemptInfo.weight }}
        {{ "kg" | translate }}
      </div>
      <div style="flex: 1"></div>

      <div style="flex: auto; height: 80%; max-height: 36px; max-width: 150px">
        <pc-decision-display [display]="true"></pc-decision-display>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="decision(true)"
        [disabled]="showDecisions$ | async"
        [matTooltip]="'lift.good-lift' | translate"
        matTooltipClass="bg-primary"
      >
        <mat-icon svgIcon="check"></mat-icon>
      </button>
      <button
        mat-raised-button
        (click)="decisionReset()"
        [disabled]="showDecisions$ | async"
        [matTooltip]="'decision.reset' | translate"
      >
        <mat-icon svgIcon="notification-clear-all"></mat-icon>
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="decision(false)"
        [disabled]="showDecisions$ | async"
        [matTooltip]="'lift.no-lift' | translate"
        matTooltipClass="bg-warn"
      >
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </ng-container>
  </ng-container>
</div>
